<div style="font-size:24px; font-weight:bold; margin-bottom:5px;">@Data.Title<span></span> </div>
<div style="width:150px; height:150px; display:flex; align-items:center; justify-content:center;">
    <svg width="150" height="150">
        <circle cx="75"
                cy="75"
                r="65"
                stroke="@Data.NormalColor"
                stroke-width="15"
                fill="none" />
        <circle cx="75"
                cy="75"
                r="65"
                stroke="@Data.AbnormalColor"
                stroke-width="15"
                fill="none"
                stroke-linecap="round"
                stroke-dasharray="408"
                stroke-dashoffset="@((1-Data.AbnormalPercentValue)*408)"
                transform="rotate(-90 75 75)" />
        <text x="75"
              y="85"
              text-anchor="middle"
              font-size="40"
              font-weight="bold"
              fill="#222">@Data.NormalPercentTitle</text>
    </svg>
</div>

@code{
    [Parameter]
    public MonitorTypeModel Data { get; set; } = new();
}